$background-color: #333333;
$dark-color : black;
$h1background-color: white;
$subBody-background-color: #FF4500;

//mixins

// Where the magic happens

body {
  background-image: url('/assets/bg.jpg');
  text-align: center;
}

#title {
  height: 55px;
  background-color: white;
  text-align: center;
  margin: auto;
  margin-bottom:20px;
}

#titleDiv{
  background-image: url('/assets/header_bg.svg');
  background-repeat: no-repeat;
  background-position: center;

}

nav ul li {
  font-family: 'Lobster', cursive;
  font-size: 20px;
  display: inline;
  margin: -2px;
  padding: 20px;
  background-color: grey;
  width: 500px;
}

/* .container{
  max-width:
  height: auto;
} */

.reddit {
  flex: 0 0 40%;
  height: 300px;
  width: 400px;
  background-color: white;
  margin: 15px;
  padding: 10px;
  position: relative;
  display: inline-block;
}